

.button-group {
  width: 100px;
 
}

.button-group input[type="radio"] {
  display: none;
}

.button-group label {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #FFA62F ;
 background-color: #ffff;
  color: #FFA62F;
  border-radius: 15px;
  transition: all ease 0.2s;
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
  width: 90px;
  font-size: 13px;
  margin: 5px;
  box-shadow: 0px 0px 50px -15px #000000;
}

.button-group input[type="radio"]:checked + label {
  background-color: #FFA62F;
  color: #ffff;
  border: 1px solid #FFA62F;
}
.top-box{
    background-color: #fff !important;
    border-radius: 10px ;
}

.Orders{
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.order-box{
  height: 180px !important;
}

.ready{
    background-color: #6ab04c;
    color: #fff !important;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
    font-size: 11px;
}
.pending{
      background-color:#ffaf40;
    color: #fff !important;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
    font-size: 11px;

}
.preparing{
    background-color:#30336b;
    color: #fff !important;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
    font-size: 11px;
}
.cancel{
      background-color:#f8322f;
    color: #fff !important;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
    font-size: 11px;
}
.title-top{
    color: #4b4b4b;
    font-size: 14px;
}

.time{
  color: #636e72 !important;
  font-weight: 600 !important;
}

table th{
  /* color: #30336b !important;
  background-color: #d6d7f8 !important; */
    font-size: 12px !important;
 
}
table td{
  color: #3d3f40 !important;
  font-size: 12px !important;
  font-weight: 600 !important;
 
}
.det-btn{
  background: transparent !important;
  border: 2px solid #30336b !important;
  color: #30336b !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  padding: 6px!important;
  width: 150px !important;
  border-radius: 20px !important;
}

.start-btn{
  background: #30336b!important;
  color: #f6f6f6 !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  padding: 6px!important;
  width: 130px !important;
  border-radius: 20px !important;
}
.cancel-btn{
   background: #f8322f !important;
  color: #f6f6f6 !important;
  font-weight: 500 !important;
  font-size: 10px !important;
  padding: 8px!important;
  width: 130px !important;
  border-radius: 20px !important;
  border: none !important;
}

.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 400px !important;
}
.title-top-det{
  font-size: 15px !important;
  font-weight: 600 !important;
  color: #3d3f40 !important;
  text-align: start !important;
  line-height: 10px !important;
}
.Cancel-btn{
  width: 150px !important;
  padding: 6px !important;
  color: #ff3838 !important;
  border: 2px solid #ff3838 !important;
  background: transparent;
  font-size: 13px !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
  border-radius: 7px !important;
}

.Preparing-btn{
   width: 130px !important;
  padding: 6px !important;
  background-color: #30336b  !important;
  color: #f6f6f6 !important;
  border:none;
  background: transparent;
  font-size: 13px !important;
  font-weight: 500 !important;
  /* letter-spacing: 1px !important; */
  border-radius: 20px !important;
}
.Ready-btn{
  width: 130px !important;
  padding: 10px !important;
  background-color: #6ab04c !important;
  color: #f6f6f6 !important;
  border:none;
  background: transparent;
  font-size: 10px !important;
  font-weight: 500 !important;
  /* letter-spacing: 1px !important; */
  border-radius: 20px !important;
}
.small-title{
  color: #30336b !important;
  font-weight: 700 !important;
}
.small-title span{
  color: #FFA62F !important;
}
.bi-x-circle-fill{
  font-size: 17px !important;
  cursor: pointer !important;
}
.bi-plus-circle-fill{
  color: #6ab04c !important;
  font-size: 27px !important;
  cursor: pointer !important;
}

.span-title{
  color: #3d3f40 !important;
  font-size: 12px !important;
  font-weight: 700 !important;
}




.loader-wrapper {
  position: fixed;   /* full screen overlay */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0,0,0,0.1); /* optional overlay */
  z-index: 9999;
}



/* From Uiverse.io by dovatgabriel */ 
.three-body {
 --uib-size: 120px;
 --uib-speed: 0.8s;
 --uib-color:#30336b;
 position: relative;
 display: inline-block;
 height: var(--uib-size);
 width: var(--uib-size);
   margin: auto; 
 animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
 position: absolute;
 height: 100%;
 width: 30%;
}

.three-body__dot:after {
 content: '';
 position: absolute;
 height: 0%;
 width: 100%;
 padding-bottom: 100%;
 background-color: var(--uib-color);
 border-radius: 50%;
}

.three-body__dot:nth-child(1) {
 bottom: 5%;
 left: 0;
 transform: rotate(60deg);
 transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
 bottom: 0;
 left: 0;
 animation: wobble1 var(--uib-speed) infinite ease-in-out;
 animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
 bottom: 5%;
 right: 0;
 transform: rotate(-60deg);
 transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
 bottom: 0;
 left: 0;
 animation: wobble1 var(--uib-speed) infinite
    calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
 bottom: -5%;
 left: 0;
 transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
 top: 0;
 left: 0;
 animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
 0% {
  transform: rotate(0deg);
 }

 100% {
  transform: rotate(360deg);
 }
}

@keyframes wobble1 {
 0%,
  100% {
  transform: translateY(0%) scale(1);
  opacity: 1;
 }

 50% {
  transform: translateY(-66%) scale(0.65);
  opacity: 0.8;
 }
}

@keyframes wobble2 {
 0%,
  100% {
  transform: translateY(0%) scale(1);
  opacity: 1;
 }

 50% {
  transform: translateY(66%) scale(0.65);
  opacity: 0.8;
 }
}
