.gird {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px !important;
}
.gird h2{
    font-size: 19px !important;
    font-weight: bolder !important;
}
.gird-box{
    background-color: #fff !important;
    padding: 20px !important;
    border-radius: 5px !important;
}
.bi-graph-up-arrow{
    background-color: #FFA62F !important;
    color: #fff !important;
    font-size: 20px !important;
    padding: 15px !important;
    border-radius: 30px !important;
}
.bi-cart3{
    background-color: #57ab12 !important;
    color: #fff !important;
    font-size: 20px !important;
    padding: 15px !important;
    border-radius: 30px !important;
}

.bi-shop-window{
    background-color: #E82C1D !important;
    color: #fff !important;
    font-size: 20px !important;
    padding: 15px !important;
    border-radius: 30px !important;
}

.bi-basket{
    background-color: #53ca92 !important;
    color: #fff !important;
    font-size: 20px !important;
    padding: 15px !important;
    border-radius: 30px !important;
}
h3{
    margin: 0px 20px !important;
    font-size: 25px !important;
    font-weight: bolder !important;
}
.pie-chart{

    background-color: #fff !important;
    border-radius: 10px !important;
}
.pie-chart h2{
      font-size: 19px !important;
    font-weight: bolder !important;
}
.top-itemname{
    font-size: 18px !important;
    font-weight: bolder !important;
}
.top-selling-food{
       font-size: 20px !important;
    font-weight: bolder !important; 
}



.loader-wrapper {
  position: fixed;   /* full screen overlay */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0,0,0,0.1); /* optional overlay */
  z-index: 9999;
}



/* From Uiverse.io by dovatgabriel */ 
.three-body {
 --uib-size: 120px;
 --uib-speed: 0.8s;
 --uib-color:#30336b;
 position: relative;
 display: inline-block;
 height: var(--uib-size);
 width: var(--uib-size);
   margin: auto; 
 animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
 position: absolute;
 height: 100%;
 width: 30%;
}

.three-body__dot:after {
 content: '';
 position: absolute;
 height: 0%;
 width: 100%;
 padding-bottom: 100%;
 background-color: var(--uib-color);
 border-radius: 50%;
}

.three-body__dot:nth-child(1) {
 bottom: 5%;
 left: 0;
 transform: rotate(60deg);
 transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
 bottom: 0;
 left: 0;
 animation: wobble1 var(--uib-speed) infinite ease-in-out;
 animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
 bottom: 5%;
 right: 0;
 transform: rotate(-60deg);
 transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
 bottom: 0;
 left: 0;
 animation: wobble1 var(--uib-speed) infinite
    calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
 bottom: -5%;
 left: 0;
 transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
 top: 0;
 left: 0;
 animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
 0% {
  transform: rotate(0deg);
 }

 100% {
  transform: rotate(360deg);
 }
}

@keyframes wobble1 {
 0%,
  100% {
  transform: translateY(0%) scale(1);
  opacity: 1;
 }

 50% {
  transform: translateY(-66%) scale(0.65);
  opacity: 0.8;
 }
}

@keyframes wobble2 {
 0%,
  100% {
  transform: translateY(0%) scale(1);
  opacity: 1;
 }

 50% {
  transform: translateY(66%) scale(0.65);
  opacity: 0.8;
 }
}
